@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Humber College Blvd<br />
    Toronto, ON, Canada<br />
</address>

<h4>Our Team Member</h4>
<address>
    <strong>Phat Luong:</strong>   <a href="mailto:luongtanphat25@gmail.com">luongtanphat25@gmail.com</a><br />
    <strong>Masaru Ogasawara:</strong> <a href="mailto:masaru.19920525@gmail.com">masaru.19920525@gmail.com</a><br />
    <strong>Trang Khuc:</strong> <a href="mailto:trangkhuc@gmail.com">trangkhuc@gmail.com</a>
</address>